@import "_variables/_var.scss";
@import "_colors/_colors.scss";

nav {
    background-color: $nav_color;
} 

nav ul a {
    font-size: 1.5rem;
}

.player {
    margin-top: 25px;
}

audio {
    width: 100%;
}

.logo {
    width: 6.2rem;
    height: 4.2rem;
}

video {
    width: 100%;
}

